[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyyaml = "*"
thrift = "*"
"ruamel.yaml" = "*"
semver = "*"
requests = "*"
click = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"


[requires]

python_version = "3.5"
